[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparty/libpqxx"]
	path = thirdparty/libpqxx
	url = https://github.com/jtv/libpqxx.git
